<style>
  .header-logo-dark {
    background: var(--primary);
  }
</style>
<div class="container">
  <div class="wrapper px-4-5 header-logo-dark">
    <!-- start::login-form -->
    <div class="login-view login-form">
      <!--begin::Title-->
      <div class="form-header py-4">
        <img src="/media/logo-dark.svg" alt="logo"/>
      </div>
    </div>
  </div>
</div>
