<style>
  #visitSuccessModal .modal-dialog {
    margin-left: auto !important;
    margin-right: auto !important;
  }
</style>
<div
      class="modal fade"
      id="visitSuccessModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mobileLiveScanLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog mx-2" role="document">
        <div class="modal-content">
          <div class="modal-body px-0">
            <div class="modal-icon text-center pt-4 pb-3">
              <img src="/media/success-icon.svg" />
            </div>
            <div class="contentarea py-4">
              <h2>
                נבדק נרשם בהצלחה
              </h2>
            </div>
            <div calss="modal-actions container-fluid">
              <div class="d-flex justify-content-between">
                <button
                  type="button"
                  class="primary-action  btn btn-primary btn-block col col-spaced me-2"
                >
                  {{primaryLabel}}
                </button>
                <button
                        type="button"
                        class="secondary-action btn btn-default btn-block col col-spaced"
                >
                  {{secondaryLabel}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
