<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1 maximum-scale=1"
    />
    <meta name="description" />
    <meta name="format-detection" content="telephone=no" />

    <title>פרפר קורונה</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->

    <link
      rel="stylesheet"
      href="/plugins/bootstrap/css/bootstrap.rtl.min.css"
    />
    <link
      rel="stylesheet"
      href="/plugins/bootstrap/css/bootstrap-utilities.rtl.min.css"
    />
    <link rel="stylesheet" href="/plugins/select2/select2.min.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <!-- import the webpage's client-side javascript file -->
    <script src="/plugins/jquery/js/jquery-3.5.1.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/select2/select2.full.min.js"></script>
    <script src="/script.js" defer></script>
    <script src="/scripts/find-patient.js" defer></script>
  </head>
  <style>
    .camera-icon {
      position:absolute;
      right:15px;
      bottom:15px;
      
    }
  </style>
  <script></script>
  <body>
    <!-- start::modal template -->
    <div
      class="modal fade"
      id="alertModal"
      role="dialog"
      aria-labelledby="alertModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-icon d-none text-center pt-4 pb-3">
              <img src="/media/success-icon.svg" />
            </div>
            <div class="modal-message">{{modal message}}</div>
            <div calss="modal-actiosn container-fluid">
              <div class="row justify-content-between">
                <button
                  type="button"
                  class="primary-action btn btn-primary btn-block col-6 col-spaced"
                >
                  אישור
                </button>
                <button
                  type="button"
                  class="secondary-action btn btn-secondary btn-block col-6 col-spaced"
                >
                  ביטול
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end::modal template -->
    <!-- start::custom modal -->
    <div
      class="modal fade"
      id="patientDetailsModal"
      role="dialog"
      aria-labelledby="alertModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-icon d-none text-center pt-4 pb-3">
              <img src="/media/success-icon.svg" />
            </div>
            <div class="modal-message text-right container">
              <div class="row mb-2">
                <div class="text-muted">שם מטופל</div>
                <h3 id="patientFullNameLabel">{{patientName}}</h3>
              </div>
              <div class="row mb-2">
                <div class="text-muted">תעודת זהות</div>
                <h3 id="patientIdLabel">{{pateintId}}</h3>
              </div>
              <div calss="row">
                <div class="form-group">
                  <label>נייד</label>
                  <input
                    class="form-control"
                    name="patientPhone"
                    type="phone"
                  />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label>תאריך לידה</label>
                  <input
                    class="form-control"
                    name="patientBirthDate"
                    type="phone"
                  />
                </div>
                <div class="form-group col-6">
                  <label>מין</label>
                  <select select2-type="regular" name="patientSex">
                    <option value="male">זכר</option>
                    <option value="female">נקבה</option>
                  </select>
                </div>
              </div>

              <div calss="row">
                <div class="form-group col">
                  <label>עיר</label>
                  <select select2-type="search" name="patientCity">
                    <option value="תל אביב">תל אביב</option>
                    <option value="רחובות">רחובות</option>
                    <option value="הרצליה">הרצליה</option>
                    <option value="רמת גן">רמת גן</option>
                  </select>
                </div>
              </div>
            </div>
            <div calss="modal-actiosn container-fluid">
              <div class="row justify-content-between">
                <button
                  type="button"
                  class="primary-action btn btn-primary btn-block col-6 col-spaced"
                >
                  אישור
                </button>
                <button
                  type="button"
                  class="secondary-action btn btn-secondary btn-block col-6 col-spaced"
                >
                  ביטול
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end::custom modal -->

    <!-- start::page content -->
    
    <button class="btn btn-primary btn-icon p-4 rounded-lg camera-icon">
      ?
    </button>

    <div class="container">
      <div class="nav-header d-flex justify-content-between">
        <a href="javascript:history.back()"><img src="media/back-icon.svg"/></a>
        <div>מצא \ צור ביקור</div>
        <div></div>
      </div>
    </div>
    <div class="wrapper animate__animated animate__fadeInLeft px-4-5">
      <form class="form" id="findPatient">
        <div class="container">
          <div class="row">
            <div class="form-group col">
              <label>תעודת זהות \ דכרון</label>
              <div class="row">
                <div class="id-field col-9">
                  <input
                    class="form-control"
                    type="number"
                    pattern="\d*"
                    name="patient_id"
                    placeholder="ת.ז."
                    autocomplete="off"
                  />
                </div>
                <div class="passport-field col-3">
                  <input
                    class="form-control"
                    type="text"
                    name="patient_passport"
                    placeholder="דרכון"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-footer pt-4" style="float:left;">
          <button
            type="button"
            onclick="fakeFindPatient()"
            class="btn btn-primary"
          >
            אתר מטופל
          </button>
        </div>
      </form>
    </div>
    <!-- end::page content -->
  </body>
</html>
