<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="he"  dir="rtl" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Welcome to Glitch!</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="container">
    <div class="login-wrapper">
      <div class="login-header">
        <img src=""/>
      </div>
      <form class="login-form">
        <div class="inpuit-group">
          <label>
            שם משתמש
          </label>
          <input type="text" name="user_name" class="form-control form-control-solid"/>
        </div>
        <div class="inpuit-group">
          <label>
            סיסמה
          </label>
          <input type="password" name="password" class="form-control form-control-solid"/>
        </div>
        <button class="btn btn-primary" type="submit">
          Sign In
        </button>
        <div class="login-footer">
          <button class="btn btn-primary btn-block">התחבר</button>
          <a href="#">שכחת את הסיסמה?</a>
        </div>
      </form>
    </div>
  </div>
  </body>
</html>
