<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1 maximum-scale=1"
    />
    <meta name="description" />
    <meta name="format-detection" content="telephone=no" />

    <title>פרפר קורונה</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->

    <link
      rel="stylesheet"
      href="/plugins/bootstrap/css/bootstrap.rtl.min.css"
    />
    <link
      rel="stylesheet"
      href="/plugins/bootstrap/css/bootstrap-utilities.rtl.min.css"
    />
    <link rel="stylesheet" href="/plugins/select2/select2.min.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <!-- import the webpage's client-side javascript file -->
    <script src="/plugins/jquery/js/jquery-3.5.1.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/select2/select2.full.min.js"></script>
    <script src="/plugins/barcode/javascript-barcode-reader.umd.min.js"></script>
    <script src="/script.js" defer></script>
    <script src="/scripts/new-visit.js" defer></script>
    <style>
      /* CSS comes here */
      #video, #photo {
        border: none;
        width: 480px;
        height: 360px;
      }
      
      #photo {
        border: 5px solid green!important;
        width: 480px;
        display: inline-block;
      }

      #canvas {
        display: none;
      }

      .camera {
        width: 480px;
        display: inline-block;
      }

      #startbutton {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        bottom: 36px;
        padding: 5px;
        background-color: #6a67ce;
        border: 1px solid rgba(255, 255, 255, 0.7);
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
      }

      .contentarea {
        font-size: 16px;
        font-family: Arial;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <!-- start::modal template -->
    <div
      class="modal fade"
      id="alertModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="alertModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-icon d-none text-center pt-4 pb-3">
              <img src="/media/success-icon.svg" />
            </div>
            <div class="modal-message">{{modal message}}</div>
            <div calss="modal-actiosn container-fluid">
              <div class="row justify-content-between">
                <button
                  type="button"
                  class="primary-action btn btn-primary btn-block col-6 col-spaced"
                >
                  אישור
                </button>
                <button
                  type="button"
                  class="secondary-action btn btn-secondary btn-block col-6 col-spaced"
                >
                  ביטול
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="webcamModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="alertModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document" style="max-width:80%;">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-icon d-none text-center pt-4 pb-3">
              <img src="/media/success-icon.svg" />
            </div>
            <div class="contentarea">
              <h1>
                צלם ברקוד
              </h1>
              <div  class="post-capture" id="capturePreview">
                <canvas id="canvas"></canvas>
                <div class="output">
                    <img id="photo" class="shadow rounded-lg mb-5 mt-4 " alt="The screen capture will appear in this box."> 
                </div>
              </div>
              <div class="pre-capture camera">
                <video class="shadow rounded-lg mb-5 mt-4" id="video">Video stream not available.</video>
              </div>

              
            </div>
            <div calss="modal-actiosn container-fluid">
               <div class="post-capture row justify-content-between">
                <button
                  type="button"
                        id="approveCapture"
                  class="btn btn-primary btn-block col-6 col-spaced"
                >
                  אישור
                </button>
                <button
                  type="button"
                        id="retakeCapture"
                  class="btn btn-secondary btn-block col-6 col-spaced"
                >
                  צלם שוב
                </button>
              </div>
              <div class="pre-capture row justify-content-between">
                <button
                  type="button"
                  class="primary-action btn btn-primary btn-block col-6 col-spaced"
                >
                  אישור
                </button>
                <button
                  type="button"
                  class="secondary-action btn btn-secondary btn-block col-6 col-spaced"
                >
                  ביטול
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end::modal template -->
    <!-- start::visit success mudal -->
    <div
      class="modal fade"
      id="visitSuccessModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="alertModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-icon d-none text-center pt-4 pb-3">
              <img src="/media/success-icon.svg" />
            </div>
            <div class="modal-message">
              <div class="row mb-2">
                <h3>ביקור נשלח בהצלחה</h3>
              </div>
              <div class="row mb-2">
                <div class="text-muted">שם מטופל</div>
                <h3 id="patientFullNameLabel">{{pateintId}}</h3>
              </div>
              <div class="row mb-2">
                <div class="text-muted">ברקוד דגימה</div>
                <h3 id="testBarcodeLabel">{{testBarcode}}</h3>
              </div>
              <div class="row mb-2">
                <div class="text-muted">מס' ביקור</div>
                <h3 id="visitIdLabel">{{visitId}}</h3>
              </div>
            </div>
            <div calss="modal-action container-fluid">
              <div class="row justify-content-between">
                <button
                  type="button"
                  class="primary-action btn btn-primary btn-block col-6 col-spaced"
                >
                  אישור
                </button>
                <button
                  type="button"
                  class="secondary-action btn btn-secondary btn-block col-6 col-spaced"
                >
                  ביטול
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end::visit success mudal -->
    <!-- start::page content -->

    <div class="container">
      <div class="nav-header mb-2 d-flex justify-content-between">
        <a href="javascript:history.back()"><img src="media/back-icon.svg"/></a>
        <div>מצא \ צור ביקור</div>
        <div></div>
      </div>
    </div>
    <div class="wrapper px-4-5 animate__animated animate__fadeInLeft">
      <form class="form" id="newVisit">
        <div class="container">
          <div class="row mb-2">
            <div class="text-muted">מס' ביקור</div>
            <h3 id="visitIdLabel">3122468</h3>
          </div>
          <div class="row mb-2">
            <div class="text-muted">שם מטופל</div>
            <h3 id="patientFullNameLabel">אברהם מנשה</h3>
          </div>
          <div class="row mb-2">
            <div class="text-muted">תאריך ביקור</div>
            <h3 id="visitTimeLabel">22/12/20 13:42</h3>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label>מיקום</label>
              <select select2-type="search" placeholder="בחר מיקום">
                <option></option>
                <option>פרוטאה בכפר</option>
              </select>
            </div>
            <div class="form-group col-6">
              <label>קופה</label>
              <select select2-type="regular" placeholder="בחר קופה">
                <option></option>
                <option value="clalit">כללית</option>
                <option value="leumit">לאומית</option>
                <option value="maccabi">מכבי</option>
                <option value="meuhedet">מאוחדת</option>
              </select>
            </div>
          </div>
          <div class="row easy-radio">
            <label>סוג נבדק</label>
            <div class="form-group col-4">
              <input
                type="radio"
                id="resident"
                name="testeeType"
                class="d-none"
                checked
              />
              <label for="resident" class="form-control text-center">
                דייר
              </label>
            </div>
            <div class="form-group col-4">
              <input type="radio" id="crew" name="testeeType" class="d-none" />
              <label for="crew" class="form-control text-center"> צוות </label>
            </div>
            <div class="form-group col-4">
              <input
                type="radio"
                id="civilian"
                name="testeeType"
                class="d-none"
              />
              <label for="civilian" class="form-control text-center">
                אזרח
              </label>
            </div>
          </div>
          <div class="row easy-radio">
            <label>אופן בדיקה</label>
            <div class="form-group col-6">
              <input
                type="radio"
                id="PCRTest"
                value="PCR"
                name="testType"
                class="d-none"
                checked
              />
              <label for="PCRTest" class="form-control text-center">
                PCR
              </label>
            </div>
            <div class="form-group col-6">
              <input
                type="radio"
                id="cerologyTest"
                name="testType"
                value="cerology"
                class="d-none"
              />
              <label for="cerologyTest" class="form-control text-center">
                סרולוגיה
              </label>
            </div>
          </div>
          <div class="row">
            <div class="pcr-test-types form-group col">
              <label>סוג בדיקה</label>
              <select
                select2-type="regular"
                name="pcrTestType"
                placeholder="בחר בחר סוג בדיקה"
              >
                <option value="singular">בדיקה יחידנית</option>
                <option value="personal">עיגום פרטני</option>
                <option value="regular">עיגום רגיל</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label>תמונה</label>
              <label for="uploadBarcode" class="form-control text-center py-3">
                <img style="height: 40px" class="upload-caddy" />
                <u>צלם תמונה</u>
              </label>
              <input type="file" id="uploadBarcode" class="d-none" />
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label>ברקוד</label>
              <input
                type="number"
                name="test_barcode"
                class="form-control"
                placeholder="העלאה תמונה או הזן ברקוד"
              />
            </div>
            <div class="barcode-loader form-group col-2">
              <div class="spinner-border mt-5" role="status"></div>
            </div>
            <div class="impair-test-barcode d-none form-group col">
              <label>ברקוד עיגום</label>
              <input
                type="number"
                name="impair_test_barcode"
                class="form-control"
                placeholder="העלאה תמונה או הזן ברקוד"
              />
            </div>
          </div>
          <div class="row easy-radio">
            <label>האם קיימים תסמינים</label>
            <div class="form-group col-6">
              <input type="radio" id="hasSymp" name="symptoms" class="d-none" />
              <label for="hasSymp" class="form-control text-center"> כן </label>
            </div>
            <div class="form-group col-6">
              <input type="radio" id="noSymp" name="symptoms" class="d-none" />
              <label for="noSymp" class="form-control text-center"> לא </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-footer mt-3">
            <button
              type="button"
              onclick="fakeVisitSuccess()"
              class="btn btn-primary btn-block"
            >
              סיים ושלח ביקור
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- end::page content -->
  </body>
</html>
