<div
      class="modal fade"
      id="mobileLiveScanModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mobileLiveScanLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog mx-2" role="document">
        <div class="modal-content">
          <div class="modal-body px-0">
            <div class="modal-icon d-none text-center pt-4 pb-3">
              <img src="/media/success-icon.svg" />
            </div>
            <div class="contentarea">
              <h1>
                סרוק ברקוד
              </h1>
              <div class="pre-capture camera-mobile">
                <div
                  class="mobile-stream shadow rounded-lg mb-3 mt-4"
                  id="mobileStream"
                >
                </div>
              </div>
            </div>
            <div calss="modal-actions container-fluid">
              <div class="pre-capture row justify-content-between">
                <button
                  type="button"
                  class="secondary-action btn btn-secondary btn-block col col-spaced"
                >
                  סגירה
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    