<%- include('../components/header') %>
    
    <div class="container">
      <div class="wrapper px-4-5">
        <!-- start::login-form -->
        <div class="login-view login-form">
          <!--begin::Form-->
          <form class="form login-form " id="loginForm" ovalidate="novalidate">
            <!--begin::Title-->
            <div class="form-header pt-5">
              <img src="media/logo-light.svg" />
            </div>
            <!--begin::Title-->
            <!--begin::Form group-->
            <div class="form-group">
              <label>שם משתמש</label>
              <input
                class="form-control"
                type="text"
                name="username"
                placeholder="הזן שם משתמש"
                autocomplete="off"
              />
            </div>
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group">
              <label>סיסמה</label>
              <input
                class="form-control"
                type="password"
                name="password"
                placeholder="הזן סיסמה"
                autocomplete="off"
              />
            </div>
            <!--end::Form group-->
            <!--begin::Action-->
            <div class="pt-3 d-grid">
              <button type="button" onclick="changeLoginView('two-factor')" class="btn btn-primary btn-block">
                התחבר
              </button>
              <a class="pt-3 text-left" style="text-align: left" href="javascript:changeLoginView('forgot')"
                >שכחת את הסיסמה?</a
              >
            </div>
            <!--end::Action-->
          </form>
          <!--end::Form-->
        </div>
        <!-- end::login-form -->
        <!-- start::forgot-form -->
        <div class="login-view forgot-form d-none animate__animated animate__fadeInLeft">
          <!--begin::Form-->
          <form class="form" id="forgotPasswordForm" novalidate="novalidate">
            <!--begin::Title-->
            <div class="form-header pt-5">
              <img src="media/logo-light.svg" />
            </div>
            <!--begin::Title-->
            <!--begin::Form group-->
            <div class="form-group">
              <label>שם משתמש</label>
              <input
                class="form-control"
                type="text"
                name="username"
                placeholder="הזן שם משתמש"
                autocomplete="off"
              />
            </div>
            <!--end::Form group-->
            <!--begin::Action-->
            <div class="pt-3 d-grid">
              <button type="button" class="btn btn-primary btn-block">
                שלח איפוס סיסמה
              </button>
            </div>
            <!--end::Action-->
          </form>
          <!--end::Form-->
        </div>
        <!-- end::forgot-form -->
        <!-- start::two-factor-form -->
        <div class="login-view two-factor-form d-none animate__animated animate__fadeInLeft">
          <!--begin::Form-->
          <form class="form" id="twoFactorForm" novalidate="novalidate">
            <!--begin::logo-->
            <div class="form-header pt-5">
              <img src="media/logo-light.svg" />
            </div>
            <!--begin::logo-->
            <!--begin::Form group-->
            <div class="form-group">
              <h4>
                הזן קוד אימות               
              </h4>
              <p>
                ברגעים אלה שנלח אליך קוד אימות באמצעות SMS </br>
                אנה הזן את קוד האימות לצורך התחברות
              </p>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <input class="form-control form-control-pin" type="number" pattern="\d*" split-input="4"/>
                <input class="form-control form-control-pin" type="number" pattern="\d*" split-input="3"/>
                <input class="form-control form-control-pin" type="number" pattern="\d*" split-input="2"/>
                <input class="form-control form-control-pin" type="number" pattern="\d*" split-input="1"/>
              </div>
            </div>
            <!--end::Form group-->
            <!--begin::Action-->
            <div class="pt-3 d-grid">
              <button type="button" disabled onclick="location.href = '/menu'" class="sumbit-two-factor-button btn btn-primary btn-block">
                המשך
              </button>
              <a class="pt-3 text-left" style="text-align: left" href="#"
              >לא קיבלתי SMS, שלח שוב</a>
            </div>
            <!--end::Action-->
          </form>
          <!--end::Form-->
        </div>
        <!-- end::two-factor-form -->
      </div>
    </div>
    <!-- end::page content -->
<%- include('../components/footer') %>
