<%- include('../components/header') %>

<!-- start::page content -->
<div class="container">
  <div class="wrapper">
    <div class="nav-menu">
      <!-- start::nav-menu-header -->
      <div class="nav-menu-header">
        <div class="form-header bg-primary py-4">
          <img src="media/logo-dark.svg" />
        </div>
        <!-- start::user info -->
        <div class="nav-user-header text-center mt-5">
          <img class="user-avatar" src="media/defualt-avatar.svg" />
          <h4 class="mb-0 mt-3">אופק אמסלם</h4>
          <a class="pt-1" href="/">התנתק</a>
        </div>
        <!-- end::user info -->
      </div>
      <!-- end::nav-menu-header -->
      <hr size class="my-4" />
      <!-- start::nav-items -->
      <div class="nav-items-list d-grid px-4-5">
        <a
          href="/findpatient"
          class="nav-item d-flex justify-content-between align-items-center"
        >
          <div class="">מצא \ צור ביקור</div>
          <img class="p-0 align-items-center" src="media/go-icon.svg" />
        </a>
        <div class="px-3 py-3">
          <hr size />
        </div>
        <a
          href="/moh"
          class="nav-item mb-3 d-flex justify-content-between align-items-center"
        >
          <div class="">שליחה למשה"ב ומעבדה</div>
          <img class="p-0 align-items-center" src="media/go-icon.svg" />
        </a>
        <a
          href="#"
          class="nav-item mb-3 d-flex justify-content-between align-items-center"
        >
          <div class="">פרפר מעבדה</div>
          <img class="p-0 align-items-center" src="media/go-icon.svg" />
        </a>
        <a
          href="#"
          class="nav-item mb-3 d-flex justify-content-between align-items-center"
        >
          <div class="">תוכנית יומית</div>
          <img class="p-0 align-items-center" src="media/go-icon.svg" />
        </a>
        <a
          href="#"
          class="nav-item mb-3 d-flex justify-content-between align-items-center"
        >
          <div class="">מסירה למעבדה</div>
          <img class="p-0 align-items-center" src="media/go-icon.svg" />
        </a>
      </div>
    </div>
  </div>
</div>
<!-- end::page content -->

<%- include('../components/footer') %>
