<%- include('../components/header') %>
<style>
    .lower-alpha {
        list-style-type: lower-alpha;
    }

    .h6 * {
        font-size: inherit;
    }

    .h4 * {
        font-size: inherit;
    }

</style>

<div class="container">
    <div class="wrapper px-4-5">
        <!-- start::login-form -->
        <div class="login-view login-form">
            <!--begin::Form-->
            <form class="form login-form " id="loginForm" novalidate="novalidate">
                <!--begin::Title-->
                <div class="form-header pt-5">
                    <img src="media/logo-light.svg" alt="logo"/>
                </div>
                <!--begin::Title-->
                <!--begin::Signup-->
                <div class="pt-3 d-grid">
                    <p class="h4">היי,<strong>כיף שבאתם😄</strong></p>
                    <br/>
                    <div class="h6">
                        <p>מערכת זו תאפשר לכם לבצע בדיקת אנטיגן ביתית לזיהוי נגיף הקורונה, אשר הינה <strong>מוסדית
                                ורשמית</strong> תחת אישור משרד הבריאות.</p>
                        <br/>
                        <p>אז מה נצטרך על מנת להתחיל?</p>
                        <ol class="font-weight-normal">
                            <li>ערכה לבדיקת אנטיגן מבית טרם.</li>
                            <li>טלפון חכם/מחשב זמין עם מצלמה תקינה.</li>
                            <li>גישה לאינטרנט.</li>
                        </ol>
                        <br/>
                        <p>יאללה יש לי הכל.</p>
                        <p>איך מתחילים?</p>
                        <br/>
                        <p>אופציה 1:</p>
                        <p>יש לנו סרטון קצר שמסכם את התהליך מההתחלה ועד הסוף… רוצים לראות?</p>
                        <br/>
                        <p><strong>כפתור "לחץ כאן לסרטון"- פותח POPUP עם הסרטון לצפייה.</strong></p>
                        <br/>
                        <p>אופציה 2:</p>
                        <p>שלבי ביצוע הבדיקה מההתחלה ועד הסוף:</p>
                        <ol class="font-weight-normal">
                            <li>יש לפתוח את ערכת הבדיקה ולסרוק את ברקוד הQR שעל סטיק הבדיקה על ידי מצלמת המכשיר החכם (או
                                תוכנה/אפליקציה לסריקת ברקודים).
                            </li>
                            <li>נבצע הרשמה באתר, נמלא את כל הפרטים, ונבצע צילום תעודה מזהה.</li>
                            <li>אחרי אימותכם על ידי המוקד שלנו (שפועל 24/7 😉), תקבלו הודעת SMS ובה לינק להתחיל בביצוע
                                הבדיקה.
                            </li>
                            <li>הפעילו את צילום סרטון התיעוד דרך הכפתור, ודאו שכל פניכם נמצאות בתוך מסגרת התמונה ובצעו
                                את הבדיקה העצמית על פי השלבים הבאים:
                            </li>
                            <ol class="lower-alpha">
                                <li>דגימת המטוש בתוך הפה, בשני צידי הפה, תוך גריפה כנגד השקדים.</li>
                                <li>דגימת המטוש בתוך האף, בכל נחיר, 5 סיבובי והוצאה תוך גריפה כנגד מחיצת האף.</li>
                                <li>הכנסת המטוש לתוך בקבוקון הבדיקה, סיבוב מהיר של המטוש במשך 30 שניות.</li>
                                <li>סחיטת המטוש תוך מעיכת הבקבוקון וביצוע 5 סיבובים נוספים.</li>
                                <li>הוצאת המטוש תוך כדי מעיכת הבקבוקון (אפשר כעת לזרוק את המטוש).</li>
                                <li>סגירת הבקבוקון עם מכסה הטפטפת.</li>
                                <li>שקשוק הבקבוקון קלות.</li>
                                <li>טפטוף 5 טיפות על סטיק הבדיקה במקום הייעודי.</li>
                                <li>המתנה עד אשר מופיע פס ליד האות C על סטיק הבדיקה.</li>
                                <li>הצגת הסטיק במלואו למצלמת הטלפון החכם/המחשב.</li>
                                <li>סיום הסרטון וביצוע שליחה 💪</li>
                            </ol>
                            <li>נמתין כ-15 דקות לקבל לינק להעלאת תוצאת הבדיקה ותמונת סטיק הבדיקה.</li>
                            <li><strong>סיימנו!</strong> הייתם מאמינים שכל כך פשוט?</li>
                        </ol>
                        <p>לכל בעיה, נשמח לעזור במוקד הטלפוני במספר: XXXXXXXXX</p>
                        <br/>
                        <p><strong><u>המשך יבוא:</u></strong></p>
                        <br/>
                        <p>שאלות נפוצות ותשובות- שורות של שאלות שבלחיצה עליהן ייפתח DROPDOWN עם תוכן התשובה.</p>
                        <br/>
                        <p>טופס משוב על המערכת</p>
                    </div>
                </div>
                <div class="pt-3 d-grid">
                    <button type="button" class="btn btn-primary btn-block btn-signup-welcome"
                            onclick="location.href = 'register'">
                        הרשם עכשיו
                    </button>
                </div>
                <!--end::Signup-->
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
<!-- end::page content -->
<%- include('../components/footer') %>
