<%- include('../components/header') %>

<%- include('../components/header-logo-dark') %>
<script src="scripts/profile.js"></script>
<!-- start::page content -->
<div class="container">
  <div class="wrapper">
    <div class="nav-menu">
        <!-- start::user info -->
        <div class="nav-user-header text-center mt-5">
          <img class="user-avatar" src="media/defualt-avatar.svg" />
          <h4 class="mb-0 mt-3" id="userName">אופק אמסלם</h4>
          <a class="pt-1" onclick="logOut()">התנתק</a>
        </div>
        <!-- end::user info -->
      </div>
      <!-- end::nav-menu-header -->
      <hr size class="my-4" />
      <!-- start::nav-items -->

      <div class="nav-items-list d-grid px-4-5" id="recordedTests">
        <h4 class="fw-bolder">בדיקות רשומות</h4>
      </div>
      <div class="px-3 py-3">
        <hr size />
      </div>
      <div class="nav-items-list d-grid px-4-5" id="awaitingResult">
        <h4 class="fw-bolder">ממתין לתוצאה</h4>
      </div>
    </div>
  </div>
</div>
<!-- end::page content -->
<%- include('../components/footer') %>

<div class="d-none" id="resultTmpl">
  <a
          href="/findpatient"
          class="nav-item d-flex justify-content-between align-items-center mb-3"
  >
    <div class="">${name}</div>
    <img class="p-0 align-items-center" src="media/go-icon.svg"/>
  </a>
</div>
