<style>
  .header-logo-dark {
    background: var(--primary);
  }
  body {
    background: var(--bg-main);
  }
  html {
    height: 100%;
  }
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
<div class="w-100">
  <div class="px-4-5 header-logo-dark">
    <!-- start::login-form -->
    <div class="login-view login-form d-flex justify-content-between align-items-center">
      <!--begin::Title-->
      <div class="py-2">
        <img src="/media/logo-dark.svg" alt="logo"/>
      </div>
      <div class="d-flex align-content-center">
        <img class="user-avatar mini" src="media/defualt-avatar.svg" />
        <span class="position-relative">
          <h4 class="mx-1 text-light dropdown-toggle" id="navbarDarkDropdownMenuLinkUserName" data-bs-toggle="dropdown" aria-expanded="false">אופק אמסלם</h4>
          <ul class="dropdown-menu text-right p-1" aria-labelledby="navbarDarkDropdownMenuLinkUserName">
            <li><a class="dropdown-item pt-1" href="/agent">patients</a></li>
            <li><a class="dropdown-item pt-1" href="/vouchers">vouchers</a></li>
            <li><a class="dropdown-item pt-1" onclick="logOut()">התנתק</a></li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/plugins/videojs/video-js.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>
<script src="/plugins/videojs/video.min.js"></script>
