<style>
    #mobileDetailPatientModal .modal-dialog {
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 781px !important;
    }

    ul[aria-labelledby="dropdownResultTestMenu"] {
        margin-top: 10px;
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 0 3px 20px #00000050;
        border-radius: 6px;
    }

    #imageID {
        max-width: 90%;
        height: auto;
        object-fit: cover;
    }
    .select2-container {
        z-index: 2000;
    }
</style>
<div
        class="modal fade"
        id="mobileDetailPatientModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="mobileLiveScanLabel"
        aria-hidden="true"
>
    <input hidden name="patientID">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-4">
            <div class="d-flex align-content-center justify-content-between">
                <h1>
                    פרטי נבדק
                </h1>
                <button class="btn btn-secondary p-3" id="edit-patient">Edit</button>
                <button class="btn btn-secondary p-3" id="save-patient">Save</button>
            </div>
            <hr class="text-dark h-2"/>
            <div class="display-content" id="viewContent">
                <div class="modal-body px-0">
                    <div class="contentarea">
                        <div class="row">
                            <div class="col-4">
                                <label>שם מטופל</label>
                                <h5 class="fw-bolder" id="patientName"></h5>
                            </div>
                            <div class="col-4">
                                <label>סטטוס נבדק</label>
                                <h5 class="fw-bolder" id="statusChecked"></h5>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-4">
                                <label>טלפון</label>
                                <h5 class="fw-bolder" id="phone"></h5>
                            </div>
                            <div class="col-4">
                                <label>ת.ז. \ דרכון</label>
                                <h5 class="fw-bolder" id="IDPassport"></h5>
                            </div>
                            <div class="col-4">
                                <label>צילום ת.ז.</label>
                                <h5 class="fw-bolder">
                                    <span class="link-primary" id="photoID"></span>
                                </h5>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-4">
                                <label>סריאלי בדיקה</label>
                                <h5 class="fw-bolder" id="serialTest"></h5>
                            </div>
                            <div class="col-4">
                                <label>סטטוס בדיקה</label>
                                <h5 class="fw-bolder" id="testStatus"></h5>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-4">
                                <label>תיעוד ביצוע בדיקה</label>
                                <h5 class="fw-bolder">
                                    <span class="link-primary" id="testDocumentation"></span>
                                </h5>
                            </div>
                            <div class="col-4">
                                <label>הצהרת הנבדק</label>
                                <h5 class="fw-bolder" id="result"></h5>
                            </div>
                            <div class="col-4">
                                <label>תיעוד תוצאה</label>
                                <h5 class="fw-bolder">
                                    <span class="link-primary" id="outcomeDocumentation"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="display-content d-none" id="editContent">
                <form class="modal-body px-0" id="formEditPatient" novalidate="novalidate">
                    <div class="contentarea">

                        <div class="row">
                            <div class="form-group col-6">
                                <label>First Name</label>
                                <input mandatory class="form-control" placeholder="שם פרטי" name="first_name">
                            </div>
                            <div class="form-group col-6">
                                <label>Last Name</label>
                                <input mandatory class="form-control" placeholder="Last Name" name="last_name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label>ID Number</label>
                                <input mandatory class="form-control" placeholder="ID Number" name="id_password"
                                       type="tel"
                                       inputmode="numeric"
                                >
                            </div>
                            <div class="form-group col-6">
                                <label>Phone number</label>
                                <input mandatory class="form-control" placeholder="Phone number" name="phone"
                                       pattern="[0-9]"
                                       data-type="phone"
                                       type="tel"
                                       inputmode="numeric"
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label>קופת חולים</label>
                                <select
                                        mandatory
                                        select2-type="regular"
                                        name="hmo_code"
                                        placeholder="בחר קופה"
                                >
                                    <option></option>
                                    <option value="1">כללית</option>
                                    <option value="2">לאומית</option>
                                    <option value="4">מכבי</option>
                                    <option value="3">מאוחדת</option>
                                    <option value="9">פרטי</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label >עיר מגורים</label>
                                <select
                                        mandatory
                                        select2-type="search"
                                        placeholder="בחר עיר מגורים"
                                        name="city_code"
                                >
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label>street name</label>
                                <input mandatory class="form-control" placeholder="שם משפחה" name="street">
                            </div>
                            <div class="form-group col-6">
                                <label>house number</label>
                                <input mandatory class="form-control" placeholder="שם משפחה" name="house_number">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col">
                                <label>Birth Date</label>
                                <div class="row">
                                    <div class="form-group col-4">
                                        <input
                                                mandatory=""
                                                class="form-control"
                                                type="number"
                                                min="1921"
                                                max="2021"
                                                placeholder="Year"
                                                id="DOB_year"
                                                name="DOB_year"
                                                maxlength="4"
                                                pattern="\d{4}"
                                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                        />
                                    </div>

                                    <div class="form-group col-4">
                                        <select
                                                mandatory
                                                select2-type="regular"
                                                name="DOB_month"
                                                id="DOB_month"
                                                placeholder="Month"
                                                tabindex="-1"
                                        >
                                            <option></option>
                                            <option value="01">January</option>
                                            <option value="02">February</option>
                                            <option value="03">March</option>
                                            <option value="04">April</option>
                                            <option value="05">May</option>
                                            <option value="06">June</option>
                                            <option value="07">July</option>
                                            <option value="08">August</option>
                                            <option value="09">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option> </select
                                        >
                                    </div>

                                    <div class="form-group col-4">
                                        <select
                                                mandatory
                                                select2-type="regular"
                                                name="DOB_day"
                                                id="DOB_day"
                                                placeholder="Day"
                                                tabindex="-1"
                                                aria-hidden="true"
                                        >
                                            <option></option>
                                            <option value="01">1</option>
                                            <option value="02">2</option>
                                            <option value="03">3</option>
                                            <option value="04">4</option>
                                            <option value="05">5</option>
                                            <option value="06">6</option>
                                            <option value="07">7</option>
                                            <option value="08">8</option>
                                            <option value="09">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <label>Test serial</label>
                                <input mandatory class="form-control" placeholder="Test serial"
                                       name="serial_number"
                                       data-prefix="R"
                                       value=""
                                       mandatory
                                >
                            </div>
                        </div>
                    </div>
                    <button type="submit" hidden></button>
                </form>
            </div>
            <div class="display-content d-none" id="viewImage">
                <div>
                    <a onclick="backContentImage()"><img src="media/back-icon.svg"/></a>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <image id="imageID"></image>
                </div>
            </div>
            <div class="display-content d-none" id="viewVideo">
                <div>
                    <a onclick="backContentVideo()"><img src="media/back-icon.svg"/></a>
                </div>
                <div class="d-flex justify-content-center mt-5" id="blockVideo">
                    <video
                            id="videojsID"
                            class="video-js"
                            controls
                            preload="auto"
                            width="640"
                            height="264"
                            data-setup="{}"
                    >
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank"
                            >supports HTML5 video</a
                            >
                        </p>
                    </video>
                </div>
            </div>
            <hr class="text-dark h-2 mt-5"/>
            <div class="modal-actions container-fluid">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-grow-1 ms-2">
                        <button
                                type="button"
                                class="btn btn-primary me-2 py-3"
                                id="dropdownResultTestMenu" data-bs-toggle="dropdown" aria-expanded="false"
                        >
                            קביעת תוצאה
                        </button>
                        <ul class="dropdown-menu text-start" aria-labelledby="dropdownResultTestMenu">
                            <li><a class="dropdown-item" id="dropdownResultTestMenuNegative">שלילי</a></li>
                            <li><a class="dropdown-item" id="dropdownResultTestMenuPositive">חיובי</a></li>
                            <li><a class="dropdown-item" id="dropdownResultTestMenuDisqualification">פסילה</a></li>
                        </ul>

                        <button
                                type="button"
                                class="primary-action  btn btn-secondary py-3"
                        >
                            אישור נבדק
                        </button>

                        <input hidden name="dropdownResultTest">
                    </div>
                    <div class="d-flex flex-grow-1 justify-content-end">
                        <button
                                type="button"
                                class="secondary-action btn btn-light btn-block col col-spaced py-3"
                        >
                            סגור
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../components/visit-success-modal') %>
<script src="scripts/agent/more-details-patient-modal.js"></script>
